<div class="user-details">
  <h1>About me</h1>
  <p>Hello, internet! My name is <b>Harold</b>.</p>
  <p>I'm a dude currently in Las Vegas with my trusty sausage dog, Willis.</p>
  <p>
    I solve problems by first
    <a href="https://en.wikipedia.org/wiki/Socratic_questioning"
      >asking questions</a
    >. My favorite questions to ask myself are:
    <i>"<b>What</b> is the problem at hand?"</i>,
    <i>"<b>Why</b> is this change necessary?"</i>, and
    <i>"<b>How</b> can we make this more efficient?"</i>
  </p>
  <p>
    <b>Values I live by </b>- Integrity, Empathy, Humility, Mindfulness,
    Authenticity
  </p>
  <p><b>Passions </b>- Technology, Mental Wellness, Education</p>
  <p><b>Hobbies </b>- Music, Cooking, Gaming</p>

  <h1>My Expertise</h1>
  <p>
    Full-stack Software Engineer with 6+ years of experience developing web
    applications across diverse industries, with a focus on front-end
    development.
  </p>
  <p>
    Empathetic and Socratic thinking empowers my daily workflow, UI design
    methodology, and mentoring processes.
  </p>
  <p>
    Proven track record of customer satisfaction reducing operational
    maintenance costs and production bugs through automated testing and
    debugging.
  </p>
  <p>
    As a team player, I excel at writing detailed documentation and developing
    tools that enhance team productivity.
  </p>
  <b id="empathy-quote">Empathy is key to building a great product</b>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-less-plain-wordmark colored"></i>
    <p></p>
  </div>
  <div class="tech">
    <h2>Frontend</h2>
    <i class="devicon-react-plain-wordmark colored"></i>
    <i class="devicon-nextjs-original-wordmark colored"></i>
    <i class="devicon-vuejs-plain-wordmark colored"></i>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <i class="devicon-tailwindcss-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-webpack-plain-wordmark colored"></i>
    <i class="devicon-vitejs-plain colored"></i>
    <i class="devicon-figma-plain colored"></i>
    <p></p>
  </div>
  <div class="tech">
    <h2>Backend</h2>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-prisma-original-wordmark colored"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-djangorest-plain colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-firebase-plain-wordmark colored"></i>
    <p></p>
  </div>
</div>
<style scoped>
  .devicon {
    width: 75px;
    height: 75px;
  }
  #empathy-quote {
    font-size: 15px;
  }
</style>
