<div class="user-details">
  <h1>Experiences</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/springboard_logo.png" | prepend: site.baseurl }}"
    />
  </div>
  <div class="contents-right">
    <h3>Springboard</h3>
    <h4>Part-time Mentor</h4>
    <ul>
      <li>
        Provided personalized mentorship to software engineering students facing
        challenges transitioning into tech careers by delivering expert guidance
        on industry standard web technologies and supporting project-based
        deliverables by providing pair programming support and detailed
        feedback, contributing to high student satisfaction and a strong program
        graduation rate.
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Python, Flask, React, postgreSQL
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/braingu_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Scope</h3>
    <h4>Software Engineer</h4>
    <ul>
      <li>
        Delivered full-stack development for consumer-facing cloud web
        application, connecting users to its AI-powered rope inspection system
        to enable scanning, reviewing, and managing safety-critical rope data.
        Using Vue and Node, collaborated on Figma designs, and took ownership of
        the customer-facing web app, enabling seniors to focus on data pipeline
        enhancement
      </li>
      <li>
        Developed an MVP for a training platform that processes pre-existing AWS
        S3-hosted rope images through Scope’s LLMs, enabling manual correction
        of misclassifications via tagging to mitigate false positives/negatives
        and improve LLM accuracy in anomaly detection.
      </li>
      <li>
        Enhanced cross-functional collaboration and knowledge transfer by
        authoring 1000+ structured technical tickets in GitLab with detailed
        acceptance criteria, R&D notes, and traceable feedback loops. Pioneered
        internal documentation in Notion for complex user stories and system
        behaviors, reducing onboarding time and improving team efficiency.
      </li>

      <li>
        Enhanced cross-functional collaboration and knowledge transfer by
        authoring 1000+ structured technical tickets in GitLab with detailed
        acceptance criteria, R&D notes, and traceable feedback loops. Pioneered
        internal documentation in Notion for complex user stories and system
        behaviors, reducing onboarding time and improving team efficiency.
      </li>
      <li>
        Modernized front-end testing practices by implementing Vitest and
        Storybook, integrating automated test suites into CI/CD pipelines and
        significantly reducing post-deployment defects, improving code
        reliability.
      </li>
      <li>
        Revitalized back-end architecture by migrating our PostgreSQL REST API
        to use modern technologies like Prisma ORM and Tanstack Query,
        simplifying data-fetching code and enhancing maintainability and
        scalability.
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Vue, Vuetify, Webpack, Firebase
    </p>
    <a
      class="project-link"
      href="https://braingu.com/news/widow-enabling-warfighters/"
      >WIDOW: Web-based Information Dominant Warfare</a
    >
    <a class="project-link" href="https://braingu.com/solutions/custom-app-dev/"
      >LIFTT: Large Integrated Force Test Tool</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>BrainGu</h3>
    <h4>Software Engineer</h4>
    <ul>
      <li>
        Delivered full-stack development of mission-critical features and bug
        fixes for the cloud-based WIDOW (Web-based Information Dominant Warfare)
        application from inception using React (front-end) and Django (back-end)
        in a DevSecOps environment, enabling real-time mission planning and
        multi-branch military collaboration, directly supporting the US Air
        Force’s $15M STRATFI contract award.
      </li>
      <li>
        Maintained CI/CD pipelines across multiple application environments,
        achieving 80%+ test coverage and ensuring 100% compliance with Platform
        One security standards, enhancing system reliability and deployment
        efficiency
      </li>
      <li>
        Built a functional MVP for the LIFTT event management web app in 8 weeks
        using Next.js, collaborating with a designer through Figma to enable
        real-time data tracking and exercise coordination for military training
        exercises.
      </li>
      <li>
        Resolved mission-blocking defects during live military exercises by
        deploying hotfixes in real-time, directly enhancing end-user operational
        readiness and system trust.
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Vue, Vuetify, Webpack, Firebase
    </p>
    <a class="project-link" href="https://limotour-busan.web.app/">Limo Tour</a>
    <a class="project-link" href="https://limo-carrentals.web.app/"
      >Limo CarRentals</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/limokorea.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>LimoKorea</h3>
    <h4>Web Manager</h4>
    <ul>
      <li>
        Revamped existing webpages, making them responsive and making changes as
        requested
      </li>
      <li>
        Designed and developed webpages end-to-end for various departments of
        Limo Korea according to their requirements
      </li>
      <li>
        Increased company publicity by optimizing online keyword exposure
        through Naver’s advertisement platform
      </li>
      <li>
        Quality-tested the newly developed chauffeur-management mobile
        application with a team
      </li>
      <li>
        Translated incoming calls and e-mails from English-speaking clients and
        internalized the newly designed websites
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Vue, Vuetify, Webpack, Firebase
    </p>
    <a class="project-link" href="https://limotour-busan.web.app/">Limo Tour</a>
    <a class="project-link" href="https://limo-carrentals.web.app/"
      >Limo CarRentals</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/cicom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>CICOM Software Inc.</h3>
    <h4>Software Developer</h4>
    <ul>
      <li>
        Implemented new features and bugfixes for the proprietary B2B ERP system
        following the in-house coding standards
      </li>
      <li>
        Spearheaded the migration of frameworks from Angular to Vue.js as well
        as optimization of a client’s codebase
      </li>
      <li>
        Applied webpack’s HMR and lazy loading features to speed up development
        and decrease loading time by 40%
      </li>
      <li>
        Maintained version control and clear documentation through a git and
        visual studios workflow
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Vue, Angular, Jenkins, C#, Webpack
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/samcosta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Sam Costa Productions</h3>
    <h4>Freelance Full stack Developer</h4>
    <ul>
      <li>
        Produced a product end-to-end for a programmable advertisement display
        on a one-man dev team
      </li>
      <li>
        Cooperated with employer to interpret client’s feature requests and
        create mockups
      </li>
      <li>
        Utilized Node and Express to create back-end architecture that consumes
        external Raspberry Pi GPIO API calls
      </li>
      <li>
        Used HTML, CSS, Bootstrap, jQuery, and electron.js to develop a
        responsive, mobile-friendly GUI for the display controller
      </li>
    </ul>
    <p>
      <b>Technologies Used</b> - HTML/CSS/JS, Raspberry Pi GPIO, Express,
      Bootstrap, jQuery
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/basised.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>BASIS.ed</h3>
    <h4>Internship @ Data Management</h4>
    <ul>
      <li>
        Created and customized webpages for the BASIS proprietary school
        information system
      </li>
      <li>
        Automated the ETL process of data from a SQL database into a Mongo
        database
      </li>
      <li>
        Worked with teams to produce the most efficient methods and models of
        data to load into databases
      </li>
      <li>
        Developed SQL queries to serve data requests incoming from other
        departments
      </li>
      <li>
        Saved thousands of teachers’ hours with an SQL survey that simplified
        filling out the CRDC bi-annual surveys
      </li>
    </ul>
    <p><b>Technologies Used</b> - HTML/CSS/JS, jQuery, Oracle SQL, MongoDB</p>
  </div>
</div>
<style scoped>
  .user-projects {
    margin: 30px 0px;
  }
  img {
    width: 250px;
  }
</style>
